<div class="container">
	<div class="page-header">
		<h1>
			The Contacts List
			<a href="/#/contacts/new" class="btn btn-large btn-success pull-right" style="color: white;">+ Add Contact</a>
		</h1>
	</div>
	
	<div ng-repeat="contact in contacts" class="row bottom-space">
		<div class="span1 offset1">
			<div class="circle">
				<span class="event-date">Oct
					<br>
					10</span>
			</div>
		</div>
		<div class="span9">
			<h4><a href="#">Link to the event</a></h4>
			<p>
				Description about your event.Description about your event.Description about your event.
				Description about your event.Description about your event.Description about your event.
				Description about your event.Description about your event.Description about your event.
			</p>
		</div>
	</div>
	
</div>