<div class="container">
	<div class="row">
		
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav affix-top">
				<li class="active"><a href="/#/dashboard">Dashboard</a></li>
				<li class=""><a href="/#/contacts">Contacts</a></li>
				<li class=""><a href="/#/blocks">Blocks</a></li>
				<li class=""><a href="#global">Reports	</a></li>
			</ul>
		</div>

		<div class="span9">
			<div style="margin: 30px 0 0;">

				<div class="span7">
		            <article class="post-row article">
		              <h3>
		                Awesome post tilte goes here
		                <small>by username on October 2, 2012</small>
		              </h3>
		              <img src="http://placehold.it/650x450" class="thumbnail bottom-space">
		              <p>
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		              </p>
		              <p>
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		              </p>
		              <p>
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.Post content.
		                Post content.Post content.Post content.
		              </p>
		            </article>
		            <ul class="pager">
		              <li class="previous">
		                <a href="#">&larr; Older</a>
		              </li>
		              <li class="next">
		                <a href="#">Newer &rarr;</a>
		              </li>
		            </ul>
		          </div>

			</div>
		</div>
	</div>
</div>